.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:active,
.rc-slider-handle:focus {
    background-color: green;
    border: 2px solid green;
    height: 13px;
    margin-left: -7px;
    margin-top: -3px;
    width: 13px;
}

.rc-slider-track {
    background-color: transparent;
}

.rc-slider-rail {
    height: 8px;
}
